<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyplyn.pawan.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateAccount"
            android:parentActivityName=".SignUp" />
        <activity
            android:name=".Home"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Men"
            android:parentActivityName=".Home" />
        <activity
            android:name=".MenCategory"
            android:parentActivityName=".Men" />
        <activity android:name=".WomenCategory"
            android:parentActivityName=".CategoryWomen"/>
        <activity android:name=".CategoryWomen"
            android:parentActivityName=".WomenCategory" />
        <activity android:name=".WomenJacketsData"
            android:parentActivityName=".WomenCategory"/>
    </application>

</manifest>